<!--
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Delivery</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/app.css">
    
    </head>

    <body>
    -->

        <section class="hero px-10 py-16">
            <div class="container mx-auto flex items-center justify-between">

                <div class="w-1/2">
                    <h6 class="text-lg px-20"><em>Feeling hungry?</em></h6>
                    <h1 class="text-6xl font-bold px-2">Don't waste time....</h1>
                    <button class="px-8 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
                </div>

                <div class="w-1/2.5 px-10">
                    <img src="/img/food.jpeg" alt="">
                </div>

            </div>

        </section>

        <section class="menu container mx-auto px-4 py-20">

            <h1 class="text-xl font-bold mb-8 px-10">MENU</h1>
            <div class="grid grid-cols-4 col-gap-12 row-gap-12">
                <% foods.forEach(function(food){ %>
                    <div class="w-64">
                        <img class="h-40 mt-4 mb-4 mx-auto rounded" src="/img/<%= food.image %>" alt="">
                        <div class="text-center">
                            <h2 class="mb-4 text-lg"><%= food.name %></h2>
                            <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= food.size %></span>
                            <div class="flex items-center justify-around mt-6">
                                <span class="font-bold text-lg">Rs-<%= food.price %></span>
                                <button data-food="<%= JSON.stringify(food) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center">
                                    <span>+</span>
                                    <span class="ml-4">ADD</span>
                                </button>
                            </div>
                        </div>
                    </div>
                <% })%> 

               
            </div>
        </section>
        <script src="/js/app.js"></script>
    </body>
    
</html>
